<div class="tab-container mat-typography">
    <h3 style="color:#2295d5;font-weight: 500;">{{titel}}</h3>
    <form [formGroup]="UsersForm">
      <div class="row col-md-12" style="padding: 0; margin: 0;">
        <div class="col-md-6">
          <mat-form-field style="width: 100%;">
            <mat-label>num</mat-label>
            <input type="text" formControlName="num" required matInput autocomplete="off"/>
            <mat-error *ngIf="UsersForm.controls.num.hasError('required')">
              num is <strong>Required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field style="width: 100%;">
            <mat-label>Amount</mat-label>
            <input type="number" formControlName="amount" required matInput autocomplete="off"/>
            <mat-error *ngIf="UsersForm.controls.amount.hasError('required')">
              amount is <strong>Required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field style="width: 100%;">
            <mat-label>description</mat-label>
            <input formControlName="description" required matInput autocomplete="off"/>
            <mat-error *ngIf="UsersForm.controls.description.hasError('required')">
              description is <strong>Required</strong>
            </mat-error>
          </mat-form-field>
        </div>          
      </div>
      <div style="text-align: right;margin-top: 8px;margin-bottom: 15px;">
        <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
        <button style="margin-left: 5px;" mat-raised-button color="primary" [mat-dialog-close]="{ data: UsersForm }"
          [disabled]="!UsersForm.valid" >Submit</button>
      </div>
    </form>
  </div>