<div class="tab-container mat-typography">
    <h3 style="color:#2295d5;font-weight: 500;">View User</h3>
  
    <div class="container-fluid content-row">
      <div class="row">
        <div class="row col-12 rowtab">
          <div class="col-5 headercol">
           name
          </div>
          <div class="col-7 containercol">
            {{userDetails.num}}
          </div>
        </div>
        <div class="row col-12 rowtab">
          <div class="col-5 headercol">
            Description
          </div>
          <div class="col-7 containercol">
            {{userDetails.description}}
          </div>
        </div>               
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="end" style="margin-top: 19px;margin-bottom: -13px;">
      <button type="button" mat-dialog-close mat-raised-button>Close</button>
    </div>
  </div>
  