<router-outlet></router-outlet>
<!-- <ngx-spinner bdOpacity=0.9 bdColor="rgba(51,51,51,0.8)" size="medium" color="rgb(11, 206, 236)" type="ball-clip-rotate"
    [fullScreen]="true">
    <p style="color: rgb(11, 206, 236)"> Loading... </p>
</ngx-spinner> -->