<mat-card style="width:90%;margin: auto;">

<div class="row example-header" style="margin-top:10px;">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>   
  </div>
  <div class="row example-header" style="margin-top:10px;">
        <button (click)="createuser('')" mat-raised-button color="primary">
        <i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;&nbsp;CreateUser
      </button> 
  </div>
   <div class="example-container mat-elevation-z8">
    
    <mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <!-- <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container> -->
    <!-- Name Column -->
    <ng-container matColumnDef="PolicyNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Policy Number </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.num }} </mat-cell>
      </ng-container>
      <!-- email Column -->
    <ng-container matColumnDef="Amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.amount}} </mat-cell>
      </ng-container>
      <!-- Progress Column -->
      <ng-container matColumnDef="Description">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.description }} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="Action">
        <mat-header-cell mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element let i = index" style="justify-content: flex-end;">          
          <button  mat-icon-button color="warn" (click)="deletePolicy(element.id)" style="float: right;"
              matTooltip="Delete">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
          <button  mat-icon-button color="primary" (click)="updatePolicy(element)" style="float: right;"
          matTooltip="Edit" >
          <i class="fa fa-pencil" aria-hidden="true"></i>
          </button> 
          <button mat-icon-button color="primary" (click)="view(element)" style="float: right;"
          matTooltip="View" >
          <i class="fa fa-eye" aria-hidden="true"></i>
          </button>       
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  
    <mat-paginator [pageSize]="2" [pageSizeOptions]="[2, 5, 10]"></mat-paginator>
  </div>
</mat-card>